/* .App {
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-height: 5vh;
  text-align: center;
  background-color: #0D0E43;
}

h1 {
  margin-left: 200px;
  color: #fff;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 33%;
  list-style: none;
  margin-left: -7%;
  color: #fff;
}

.nav-links li {
  color: #fff;
  cursor: pointer;
  
}

input {
  padding: 8px 20px;
  margin-left: 10px;
}

input:focus {
  border: none;
  border: 1px solid #fff;
} */
