* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-container {
    margin-top: 150px;
}

.page-header {
    background-color: #f2f0ff;
    width: 100%;
}

.page-header h1 {
    font-family: "Josefin Sans";
    font-size: 39px;
    line-height: 62px;
    letter-spacing: 0.015em;
    color: #000000;
}